*{
  margin:0;
  padding:0;
  font-family: 'Times New Roman', serif;
  box-sizing: border-box;
}



.main{
  width: 100%;
  /*background-image: 2.jpg;
  background-position: center; */
  background-size: cover;

  background: rgba(0,0,0, 15%);
  min-height: 99.85vh; /*    one screen long fade at least - if the content is less than that its still applied*/

  margin: 0;
  padding: 0 0 1px 0;
}

.textbox{
  color: rgb(255, 255, 255);
  animation: slide-up 2s;
  letter-spacing: 1.2px;
  line-height: 25px;
}

.textbox2{
  color: rgb(0, 0, 0);
  animation: slide-up 2s;
  letter-spacing: 1.2px;
  line-height: 25px;
}



@keyframes slide-up{
  from {
    opacity: 0.2 ;
    line-height: 200px;
  }

  to {
    opacity: 1;
    line-height: 25px
  }

}

.h1{
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.container{
  width: 100%;
  height: 100vh;
}

.slides{
  width : 100%;
  height: 100vh;
}

.slides img{
  width: 350px;
}



/*navbar*/

#selected
{
  text-decoration: underline;
  text-decoration-color: rgb(173, 214, 9);;
  text-decoration-thickness: 2px;
}

.navbar
{
  top: 0;
  position: fixed;
  background: #333333;
  padding: 15px 0;
  margin: 0 0;
  width: 100%;
  overflow: hidden;
}


ul{

  /*width: 60%;*/
  margin: auto;

}

ul li{
  list-style: none;
  display: inline-block;
  font-size: 32px;
  margin: 5px 7px;

}

ul li a{
  text-decoration-line: none;
  color: rgb(255, 255, 255);
  font-family: Arial, serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  text-align: center;
}

ul li a:hover{
  color: rgb(173, 214, 9);
}

.menu{
  text-align: center;
  align-self: auto;
  width: 100%;
  margin: auto;
  /*float: left;*/
  /*height: 10%;*/
}

body
{
  background-image: url('../img/background/4.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}





/* RESPONSIVE kis képernyőkön:*/

@media (width < 1700px){
  .content{
    padding-top: 7%;
  }
}

@media (width < 1000px){
  .content{
    padding-top: 10%;
  }
  ul li
  {
    font-size: 25px;
  }

  .content span
  {
    font-size: 70px;
  }
  .content .cont .title2
  {
    font-size: 40px;
  }

}

@media (width < 750px){

  ul li
  {
    font-size: 15px;
  }
  h3
  {
    font-size: 15px;
  }
}
  