/*háttér*/
body{
    
    width: 100%;
    margin: 0;
    padding: 0;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/*navbar*/

#selected
{
    text-decoration: underline;
    text-decoration-color:rgb(173, 214, 9);
    text-decoration-thickness: 2px;
}

.navbar
{
    top: 0;
    position: fixed;
    background: #333333;
    padding: 15px 0;
    margin: 0 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;

    text-align: center;
    align-self: auto;
    /*float: left;*/
    /*height: 10%;*/
}


ul{

    /*width: 60%;*/
    margin: auto;

}

ul li{
    list-style: none;
    display: inline-block;
    font-size: 32px;
    margin: 5px 7px;

}

ul li a{
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    font-family: Arial, serif;
    font-weight: bold;
    /*transition: 0.4s ease-in-out;*/
    text-align: center;
}

ul li a:hover{
    color: rgb(173, 214, 9);
}



/* content */

.main{
    width: 100%;
    /*background-image: 2.jpg;
    background-position: center; */
    background-size: cover;
    margin: 0;
    padding: 0 0 1px 0;


    /* Making the background fade a bit - ik its terrible of a solution*/
    /*background: rgba(0, 0, 0, 15%);*/
    /*min-height: 99.85vh;     one screen long */
}

/* content */

.content{
    width: 80%;
    /*    height: auto;*/
    /*    margin: auto;*/
    padding-top: 4%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    /*    position: relative;*/
}


.content span{
    color: rgb(173, 214, 9);
    font-size: 90px;
    
}


/*

.content .par{
    font-family: Arial, serif;
    letter-spacing: 1.2px;
    
}



.content h1{
    padding: 0;
    margin: 0;
}

*/

/* szöveg formazas */

/*

p
{
    font-size: large;
}


p .cont
{
    margin-top: 30px;
    font-size: large;
}
p .title2
{
    font-size: xxx-large;
    font-family: Arial, serif;

}

*/




/* RESPONSIVE kis képernyőkön:*/

@media (width < 1700px){
    .content{
        padding-top: 7%;
    }
}

@media (width < 1000px){
    .content{
        padding-top: 10%;
    }
    ul li
    {
        font-size: 25px;
    }

    .content span
    {
        font-size: 70px;
    }
    .content .cont .title2
    {
        font-size: 40px;
    }

}

@media (width < 750px){

    ul li
    {
        font-size: 15px;
    }
    h3
    {
        font-size: 15px;
    }
}