


body
{
     background-image: url('../img/background/1.jpg');
     /*background-repeat: no-repeat;*/
     /*background-attachment: fixed;*/
    
     /*background-size: cover;*/
}

h1 ,h2{
  text-shadow: 2px 5px 5px black;
}

footer
{
  position: absolute;
  overflow: hidden;
}

q{
  position: absolute; bottom: 6%; right: 2%; font-size: 3vh; background-color: rgba(20, 20, 20, 0.6); padding: 5px; border-radius: 5px;
}

.navbar
{
    background: none;
}